@font-face {
	font-family: 'America';
	font-weight: 400;
	src: url('../fonts/GT-America-Mono-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GT-America-Mono-Regular.woff') format('woff'),
		url('../fonts/GT-America-Mono-Regular.ttf') format('truetype');
}